.portfolioFlexRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolioFlexColumn{
  display: flex;
  flex-direction: column;
}

.repoBox{
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
}

.deployandrepo{
    background-color: var(--white);
    border-radius: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.deployandrepo:hover{
    background-color: var(--mainGreen);
    border-radius: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, background-color 1.0s ease;
}

.projectContainer{
  display: flex;
  flex: 3;
  height: auto;
  width: auto;
}

.projectBox{
  margin-top: 50px;
  margin-left: 15px;
  height: 200px;
  width: 350px;
}

.projectSlidePassive{
    display: flex;
    justify-content: flex-start;
    width: 5%;
    height: 500px;
    margin-left: 15px;
    overflow: hidden;  
    transition: width 1.3s ease;
    box-shadow: 9px -9px 1px var(--Orange);
    transition: width 0.9s ease;
    color: var(--white);
}

.projectSlidePassive:hover{
  display: flex;
  justify-content: center;
  width: 25%;
  height: 500px;
  margin-left: 15px;
  overflow: hidden;  
  transition: width 1.3s ease;
  box-shadow: 9px -9px 1px var(--Orange);
  transition: width 0.9s ease;
  color: var(--white);
  transition: width 0.3s ease;
}