.portfolioFlexRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.portfolioFlexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 800px;
}

.projectText{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anton", sans-serif;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  color: rgb(0, 0, 0);
}

.repoBox{
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
}

.deployandrepo{
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.deployandrepo:hover{
    background-color: var(--arcBG2);
    border-radius: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, background-color 1.0s ease;
}

.projectContainer{
  display: flex;
  flex: 3;
  height: auto;
  width: auto;
}

.projectBox{
  margin-top: 50px;
  margin-left: 15px;
  height: 200px;
  width: 350px;
}

.projectSlidePassive{
    display: flex;
    justify-content: flex-start;
    width: 5%;
    height: 500px;
    margin-left: 15px;
    overflow: hidden;  
    transition: width 1.3s ease;
    box-shadow: 9px -9px 1px var(--Orange);
    transition: width 0.7s ease;
    color: var(--white);
}

.projectSlidePassive:hover{
  display: flex;
  justify-content: center;
  width: 40%;
  height: 500px;
  margin-left: 15px;
  overflow: hidden;  
  transition: width 0.7s ease;
  box-shadow: 9px -9px 1px var(--Orange);

  color: var(--white);

}

@media screen and (max-width: 980px){
    .portfolioFlexRow{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .projectSlidePassive{
      width: 95%;
      margin-top: 15px;

  }

  .projectSlidePassive:hover{
    width: 95%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 375px){
  .portfolioFlexRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projectSlidePassive{
    width: 75%;
    margin-top: 15px;

}

.projectSlidePassive:hover{
  width: 75%;
  margin-top: 15px;
}
}