/* Does flex-Carousel serve a purpose? */
  .flex-Carousel{
    display: flex;
    flex: 3;
  }
  
  .center-content {
    justify-content: center;
    align-items: center;
  }
  
  .flex-container-row{
    display: flex;
    flex-direction: row;
  }
  
  .flex-container-columns{
    display: flex;
    flex-direction: column;
  }
  
  .keepLeft{
    display: flex;
    float: left;
    text-decoration: underline;
    padding: 15px;
  
  }
  
  .keepRight{
    display: flex;
    float: right;
    padding: 50px;
  
  }
  
  .keepTop{
    display: flex;
    position: static;
    float: inline-start;
  }
  
  .keepBottom{
    display: flex;
    position: static;
    min-height: 100vh;
  }