.nav-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.nav-active{
    text-decoration: dashed;
    background: var(--metalic);
    padding: 10px;
    color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .nav-Button{
    padding: 5px;
  }