.Header-Top{
    display: flex;
    position:fixed;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid var(--typeLine);
    z-index: 4;
    color: var(--black);
    background-color: var(--metalic);
  }
  
  .header-Text{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 42px;
    color: var(--black);
    margin-left: auto;
    transition: transform 0.3s ease;
  }

  .header-Text:hover{
    color: var(--white);
    transition: transform 0.3s ease;
    transform: scale(1.02);
  }

  .workTitle{
    display: flex;
    margin-top: -15px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }

  .header-divider{
    background-color: var(--metalic);
    padding: 8px;
  }

  .headerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

  @media screen and (max-width: 390px){
    .Header-Top{
      position:fixed;
      height: 90px;
      width:100%;
      border-bottom: 1px solid var(--typeLine);
      z-index: 4;
      color: var(--black);
    }
    .header-Text{
      color: var(--black);
    }
    .keepRight {
      display: flex;
      justify-content: flex-end;
      margin-left: 5px;
    }
  }