.navbar {
    position: relative;
    top: 3rem;
    z-index: 3;
  }
  
  .nav-Button{
    padding: 8px 5px 5px 5px;
  }
  
  .nav-active{
    text-decoration: dashed;
    font-weight: bold;
    background: var(--metalic);
    padding: 8px 10px 10px 10px;
    color: var(--black);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

.header-divider{
    background-color: var(--metalic);
    padding: 8px;
  }
