/* .navbarClass {
    top: 5rem;
    height: 20px;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(to top, #ffffff00, #ffb55b);
  } */
  
  .nav-Button{

    color: var(--black);
    padding: 10px;
    transition: ease 0.3;
    transform: scale(1.0)
  }

  .nav-Button:hover{
    color: var(--white);
    padding: 10px;
    transition: ease 0.3;
    transform: scale(1.2)
  }
  
  .nav-active{
    text-decoration: dashed;
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .nav-active:hover{
    text-decoration: dashed;
    color: var(--white);
    font-weight: bold;
    text-decoration: underline;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  @media screen and (max-width: 375px){
    .navbar {
      position: relative;
      top: 5rem;
      z-index: 3;
    }
  }
