@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.firstName{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: -10px -5px 0px 40px;
    color: var(--arcRed);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
}
.middleName{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: -20px -5px -5px 50px;
    color: var(--arcYellow);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);

}
.lastName{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: -20px -5px -5px 59px;
    color: var(--arcGreen);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);

}
.profession{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: -20px -5px -5px 67px;
    color: var(--arcBlue);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
}

.Topper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    min-height: 180px;
    overflow: hidden;
}

.topper-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.topper-lines::before, .topper-lines::after {
    content: '';
    position: absolute;
    width: 140%;
    height: 5px;;
    left: -55%;
    transform: rotate(75deg);
    border-radius: 0px;
    opacity: 0.85;
}
.topper-lines::before {
    background: linear-gradient(
    to bottom,
    var(--arcRed) 0%,
    var(--arcRed) 20%,
    var(--arcBG) 20%,
    var(--arcBG) 25%,
    var(--arcYellow) 25%,
    var(--arcYellow) 45%,
    var(--arcBG) 45%,
    var(--arcBG) 50%,
    var(--arcGreen) 50%,
    var(--arcGreen) 70%,
    var(--arcBG) 70%,
    var(--arcBG) 75%,
    var(--arcBlue) 75%,
    var(--arcBlue) 100%
    );
    top: 20%;
    height: 28%;
}

.topper-lines::after {
    display: none;
}

.topper-names {
    position: relative;
    z-index: 2;
}

.cassette{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}