.solutionFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.solutionFlexColumn{
    display: flex;
    flex-direction: column;
    
}

.stackContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--tintedGlass);
    color: var(--white);
    border: 1px solid var(--black);
    transition: transform 0.3s ease;
    margin-right: 5px;
    border-radius: 9px;
    padding: 10px;
}

.stackContainer:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.stackImage{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 980px){
    .solutionFlexRow{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stackContainer:hover{
        transition: transform 0.3s ease;
        transform: scale(1.0);
    }
  }