* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    --arcRed: #FF0000;
    --arcYellow: #ffa600;
    --arcGreen: #00ff40;
    --arcBlue: #00fff2;
    --arcBG: #ffeea4;
}

.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--arcBG);
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.Outlet-Container {
  min-height: 100%;
  position: relative;
}

.Outlet-Positioning{
  position:relative;
  width:100%;
  height: 100%;
  padding-bottom: 250px;
  z-index: 0;
  overflow: hidden;
}