/* ROOT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    --darkgrey: #333333;
    --metalic: #272727;
    --white: #fcfcfc;
    --black: #000000;
    --test: #ffcaca;
  
}
/* Main components */
body {
  background-color: whitesmoke;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h2{
  padding: 8px;
  font-family: monospace;
  font-weight: bolder;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

p{
  padding: 8px;
}

Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

Label {
  padding: 5px;
  margin: 15px;
  color: var(--white);
}


/* Flex & Directions */
.flex-container {
  display: flex;
}

.flex-Carousel{
  display: flex;
  flex: 3;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}

.flex-container-columns{
  display: flex;
  flex-direction: column;
}

.keepLeft{
  display: flex;
  float: left;

}

.keepRight{
  display: flex;
  float: right;

}

.keepTop{
  display: flex;
  position: static;
  float: inline-start;
}

.keepBottom{
  display: flex;
  position: static;
  min-height: 100vh;
}

/* Header/footer Specials */
.header-Styling{
  background-color: var(--metalic);
  
}

.noWrap{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 450px;
  min-width: 270px;
}

.footer-Bottom{
  margin-top: auto;
  position:absolute;
  bottom:0;
  width:100%;
  height:130px;
}

.header-Text{
  color: var(--white);
}

.header-divider{
  background-color: var(--metalic);
  padding: 8px;
}

/* NavBar */

.nav-Button{
  padding: 5px;
}

/* .buttonRed{
  background: #fd7272;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.buttonGreen{
  background: #78f88d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.buttonBlue{
  background: #78ebfa;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.buttonYellow{
  background: #faf87a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
} */

.nav-active{
  text-decoration: dashed;
  background: var(--metalic);
  padding: 10px;
  color: var(--white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* ContactMe */
.contactMe{
  background-color: var(--metalic);
}

/* Img */

.profile-img{
  width: 450px;
  height: 450px;
  border-radius: 35px;
  padding: 15px;
}

.portfolio-img{
  width: 900px;
  height: 500px;
  padding: 8px;
}

.small-img{
  width: 80px;
  height: 80px;
  padding: 8px;
}

.small-img:hover{
  width: 75px;
  height: 75px;
  padding: 8px;
}

/* Buttons */
#portfolio-Button-Next {
  display: flex;
  size: 20%;
  padding: 35px;
  color: var(--white);
  background-color: var(--black);
}

#portfolio-Button-Previous {
  display: flex;
  size: 20%;
  color: var(--white);
  background-color: var(--black);
}

/* Project Slides */

.Portfolio-framing{
  margin: 10px;
  border: 5px;
}


/* Dropdown menu */

.dropbtn {
  background-color: #ec5700;
  border-radius: 4px;
  color: white;
  padding: 16px;
  margin: 10px;
  /* font-size: 16px; */
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 215px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5d0cff;
}

/* Mobile Options */
@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 688px){

}
