/* ROOT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    --darkgrey: #333333;
    --metalic: #ebebeb;
    --typeLine: #242424;
    --printerGray: #c3cad1;
    --white: #fcfcfc;
    --black: #000000;
    --test: #ffcaca;
  
}
/* Main components */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h2{
  padding: 8px;
  font-family: monospace;
  font-weight: bolder;
  z-index: 2;
}

p{
  padding: 8px;
  z-index: 2;
}

Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

Label {
  padding: 5px;
  margin: 15px;
  color: var(--white);
}

Button{
  z-index: 2;
}


/* Flex & Directions */
.flex-container {
  display: flex;
  
}
/* Does flex-Carousel serve a purpose? */
.flex-Carousel{
  display: flex;
  flex: 3;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.flex-container-row{
  display: flex;
  flex-direction: row;
}

.flex-container-columns{
  display: flex;
  flex-direction: column;
}

.keepLeft{
  display: flex;
  float: left;
  text-decoration: underline;
  padding: 15px;

}

.keepRight{
  display: flex;
  float: right;
  padding: 50px;

}

.keepTop{
  display: flex;
  position: static;
  float: inline-start;
}

.keepBottom{
  display: flex;
  position: static;
  min-height: 100vh;
}

/* Header/footer Specials */
.header-Styling{
  background-color: var(--metalic);
  
}
/* Rename the above, its confusing. */

.main-content-scaling {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-top: 50px; */
  transition: transform 0.3s ease;

}

.Outlet-Positioning{
  position:relative;
  width:100%;
  height: 100%;
  min-height: 850px;
  z-index: 0;
}

.noWrap{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 450px;
  min-width: 270px;
}

.portfolio-img{
  width: 900px;
  height: 500px;
  padding: 8px;
}

.small-img{
  width: 80px;
  height: 80px;
  border: 8px;
  padding: 13px;
  transition: transform 0.3s ease;
}

.small-img:hover{
  transition: transform 0.3s ease;
  transform: scale(1.3);
}




.mini-img{
  width: 60px;
  height: 60px;
  padding: 8px;
}

/* Buttons */
#portfolio-Button-Next {
  display: flex;
  margin-top: 69%;
  border-radius: 25px 0px 0px 25px;
  width: 50px;
  height: 30px;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid #ffffff;
}

#portfolio-Button-Next:hover {
  display: flex;
  margin-top: 69%;
  width: 50px;
  height: 30px;
  color: var(--black);
  background-color: var(--white);
  
}

#portfolio-Button-Previous {
  display: flex;
  margin-top: 50%;
  border-radius: 0px 25px 25px 0px;
  width: 70px;
  height: 30px;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid #ffffff; 
}

#portfolio-Button-Previous:hover {
  display: flex;
  margin-top: 50%;
  width: 70px;
  height: 30px;
  color: var(--black);
  background-color: var(--white);
}

/* Project Slides */

.deploy-ButtonStyle{
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  padding: 5px;
  margin: 5px;
}

.deploy-ButtonStyle:hover{
  background-color: var(--white);
  color: var(--black);
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
}

/* Redo the buttons, they are all ugly as sin. */

.gradient-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.gradient-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

#outerFrame {
  position: relative;
  padding-left: 650px;
  padding-right: 250px;
  width: 300px; 
  height: 650px; 
  /* border: 1px solid #000;  */
}

#innerFrameUpper {
  position: absolute;
  top: 10;
  left: 0;
  margin: 10px;
  /* border: 1px solid #04f218;   */
}

#innerFrameBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  /* border: 1px solid #3605f8;   */
}

#innerFrameBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  /* border: 1px solid #f70808;   */
}

.hidden-element {
  visibility: hidden;
}

.warningTextForm{
  font-size: 15px;
  color: red;
}

/* Mobile Options */
@media screen and (max-width: 980px){
  .main-content-scaling {
    transform: scale(0.90);

  }

}

@media screen and (max-width: 890px){
  .main-content-scaling {
    transform: scale(0.82);

  }
}

@media screen and (max-width: 688px){
  .main-content-scaling {
    transform: scale(0.75);

  }
}

@media screen and (max-width: 375px){
  .main-content-scaling {
    transform: scale(0.55);
  }

.Outlet-Positioning{
  position:relative;
  width:100%;
  height: 100%;
  min-height: 250px;
  z-index: 0;
}

}