
.AboutMeContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--arcBG2);
  color: black;
  padding: 20px;
  position: relative;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

.aboutMeBackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: inset 0 0 1800px 1000px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-out forwards;
}

.aboutMeTextContainer{
  text-align: left;
  text-wrap: balance;
  width: 100%;
  max-width: 800px;
  padding: 2%;
}

.aboutMetitle{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--arcBG2);
  text-shadow: 4px 3px 0 #00000065;
}

.aboutMeDescription{
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--arcBG2);
  text-shadow: 4px 3px 0 #00000065;
}

.contactMeButton{
    background-color: var(--Orange);
    color: var(--black);
    border-radius: 15px;
    border: 3px solid var(--BorderOrange);
    transition: transform 0.3s ease;
}

.contactMeButton:Hover{
  color: var(--white);
  border-color: var(--BorderOrange);
  transform: scale(1.05);
}

.profile-img{
  width: 250px;
  height: auto;
  border-radius: 35px;
  margin: 15px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.profile-img:Hover{
transform: scale(1.01);
}

#Contact{
  margin-top: 25px;
}

@keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-from-right {
    animation: fadeInFromRight 1s ease-in-out;
  }

  @keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-from-left {
    animation: fadeInFromLeft 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }

/* Mobile Options */
@media screen and (max-width: 980px){
  .main-content-scaling {
    transform: scale(1.00);
  }
}

@media screen and (max-width: 890px){
  .main-content-scaling {
    transform: scale(0.90);
  }
}

@media screen and (max-width: 688px){
  .aboutMe-flex-container-row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-img{
    transform: scale(0.60);
  }
}
