.aboutMe-flex-container-row{
  display: flex;
  flex-direction: row;
  padding-bottom: 75px;
}

.aboutMe-flex-container-columns{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 155px;
}

.headTextClass{
    font-family:monospace;
    font-size: 38px;
    text-align:left;
}

.flexBox3{
  display: flex;
  flex: 0 0 auto;
}

.contactMeButton{
    background-color: var(--Orange);
    color: var(--black);
    border-radius: 15px;
    border: 3px solid var(--BorderOrange);
    transition: transform 0.3s ease;
}

.contactMeButton:Hover{
  border-color: var(--black);
  transform: scale(1.05);
}

.profile-img{
  width: 450px;
  height: 450px;
  border-radius: 35px;
  margin: 15px;
  box-shadow: 9px -9px 1px var(--Orange);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.profile-img:Hover{
transform: scale(1.01);
}

@keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-from-right {
    overflow: hidden;
    animation: fadeInFromRight 1s ease-in-out;
  }

  @keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-from-left {
    overflow: hidden;
    animation: fadeInFromLeft 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
  }



/* Mobile Options */
@media screen and (max-width: 980px){
  .main-content-scaling {
    transform: scale(1.00);
  }
}

@media screen and (max-width: 890px){
  .main-content-scaling {
    transform: scale(0.90);
  }
}

@media screen and (max-width: 688px){
  .aboutMe-flex-container-row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-img{
    transform: scale(0.60);
  }
}